---
const { url, title } = Astro.props;
---

<a
  href={url}
  target="_self"
  data-astro-reload
  class="block hover:-translate-y-0.5 transition-transform duration-300"
>
  <h2 id={title} class="frosti-heading">
    {title}
  </h2>
</a>
