---
import { t } from "@config";
import type { PostData } from "@interfaces/data";
import { Icon } from "astro-icon/components";

const { pubDate, badge, word, time } = Astro.props as PostData;
---

<div class="post-meta-row">
  {
    pubDate && (
      <span class="post-meta-chip">
        <Icon name="lucide:calendar-days" class="h-3.5 w-3.5" />
        <span>{pubDate}</span>
      </span>
    )
  }
  {
    badge && (
      <span class="post-meta-chip post-meta-chip--accent">
        <Icon name="lucide:hash" class="h-3 w-3" />
        <span>{badge}</span>
      </span>
    )
  }
  <span class="post-meta-chip post-meta-spacer">
    <Icon name="lucide:timer" class="h-3.5 w-3.5" />
    <span>{word} / {time}m</span>
  </span>
</div>
