---
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import FriendCard from "@/components/mdx/FriendCard.astro";
import LinkCard from "@/components/mdx/LinkCard.astro";
import Showcase from "@/components/mdx/Showcase.astro";
import Card from "@/components/temple/Card.astro";
import CardGroup from "@/components/temple/CardGroup.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const sites = [{ name: "Frosti Demo", url: "https://frosti.saroprock.com/" }];
---

<BaseLayout title="Friends">
  <CardGroup cols="1">
    <MainCard
      title="Friends & Resources"
      description="A collection of links to friends, technologies, and contributors to the Frosti project."
      textOverlay="FRIENDS"
      infoIcon="lucide:link"
    >
      <div class="space-y-10">
        <!-- Friends Section -->
        <section>
          <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
            <Icon name="lucide:users" class="w-6 h-6 text-primary" />
            <span>XM-CVE</span>
          </h2>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        <FriendCard
          name="p2zhh"
          avatar="/friends/p2zhh.jpg"
          description="Friend p2zhh description here"
          url="#"
          type="friend"
        />
        <FriendCard
          name="aomr"
          avatar="/friends/aomr.jpg"
          description="Friend aomr description here"
          url="#"
          type="friend"
        />
        <FriendCard
          name="berial"
          avatar="/friends/berial.jpg"
          description="Friend berial description here"
          url="#"
          type="friend"
        />
        <FriendCard
          name="mowen"
          avatar="/friends/mowen.jpg"
          description="Friend mowen description here"
          url="#"
          type="friend"
        />
        <FriendCard
          name="pr3"
          avatar="/friends/pr3.jpg"
          description="Friend pr3 description here"
          url="#"
          type="friend"
        />
        <FriendCard
          name="train"
          avatar="/friends/train.jpg"
          description="Friend train description here"
          url="#"
          type="friend"
        />
        <FriendCard
          name="youyou"
          avatar="/friends/youyou.jpg"
          description="Friend youyou description here"
          url="#"
          type="friend"
        />
  </div>

        </section>

        <!-- Contributors Section -->
        <section>
          <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
            <Icon name="lucide:git-pull-request" class="w-6 h-6 text-primary" />
            <span>Friends</span>
          </h2>

          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            <FriendCard
              name="13"
              avatar="/friends/13.jpg"
              description="Friend 13 description here"
              url="#"
              type="contributor"
            />
            <FriendCard
              name="orxiain"
              avatar="/friends/orxiain.jpg"
              description="Friend orxiain description here"
              url="#"
              type="contributor"
            />
            <FriendCard
              name="sunny"
              avatar="/friends/sunny.jpg"
              description="Friend sunny description here"
              url="#"
              type="contributor"
            />
          </div>
        </section>