@charset "UTF-8";
/*
 *   ██████╗██╗   ██╗██████╗ ███████╗ ██████╗ ██████╗ ███████╗
 *  ██╔════╝██║   ██║██╔══██╗██╔════╝██╔═══██╗██╔══██╗██╔════╝
 *  ██║     ██║   ██║██████╔╝███████╗██║   ██║██████╔╝███████╗
 *  ██║     ██║   ██║██╔══██╗╚════██║██║   ██║██╔══██╗╚════██║
 *  ╚██████╗╚██████╔╝██║  ██║███████║╚██████╔╝██║  ██║███████║
 *   ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
 *                         ██╗  ██╗██╗   ██╗
 *                         ██║  ██║██║   ██║
 *  ████████████████████   ███████║██║   ██║
 *                         ╚════██║██║   ██║
 *                              ██║╚██████╔╝
 *                              ╚═╝ ╚═════╝
 *
 *  Brought to you by https://www.cursors-4u.com
 *
 *  Cursor: Sexy Red Lips
 *  URL: https://www.cursors-4u.com/cursor/sexy-red-lips
 */
@keyframes cursor-anim {
  0.00% { cursor: url("data:image/webp;base64,UklGRpIBAABXRUJQVlA4TIYBAAAvH8AHEDehoI0kJevf6j3z74ENRZEkNX3BvxKk8EIHEpLCto2U+99/VGbM/fxH/F9ECkdF1tJdzQWCn2f38lzqMWqbvst9tAWxNc8RDMK2BFzVJBSmCY4Jw1J1oLqL+3prwHBiNgZYtm21bZQe3LGJcWQkG9f5T1GA3P/Pjeg/A7dtG9kR6s6brzgfhMQNlrGpd4tsZW4TsjcCuhUQr+R2rfY6xbVazkQDRK7B5OcNHWCIl5F1oKGsBxwmXiEPTqKW5LlYcViep9WPJqzqrq7QQtIX1aSRlGK/nK8XH5M3qsk2ACmYSIntkP63ExTYJFPLYSPk6gjF3n3m3Sbb7l0s23LukHkvbSRF8n6tsCnmjpmLpQU+pWLuBKC9FGrvcnk2XSrnQEqzJa7jIOnUl7QJ85DIpP2h52rKkuY9ED0Qeq6a0lLf85y8MfjAJvN09vf7PlrW3tl4LguMJzAIzKrPwXa8zbj0W8rh2WqAB4e94sczkiutK4BoUGkSVxSmdLwKIOa+lAA=") 0 0, auto; }
  50.00% { cursor: url("data:image/webp;base64,UklGRpIBAABXRUJQVlA4TIYBAAAvH8AHEDehoI0kJevf6j3z74ENRZEkNX3BvxKk8EIHEpLCto2U+99/VGbM/fxH/F9ECkdF1tJdzQWCn2f38lzqMWqbvst9tAWxNc8RDMK2BFzVJBSmCY4Jw1J1oLqL+3prwHBiNgYIsm21bZQe3LGJcWRkG9f9b1GA2grui+g/A7dtG9nRde97xWsC34U0CmNTaYxsZcYJ2ZGAxgJiQp+OOg1TPOrEi2iAyBBMPt/cAYbYj6wDzWU94DBxgDw4iVqSpzfivJxPhx+tONRtDNBO0hfVqpGUst1yvt59rN6oVpcApIyJlNgW6f+yQoFzMrUcNkKullCMvWW+nrPh3sUyLdvumW/SWVIkL9cK56LtkbnoWuBTrmh7AqRPSHV5O+c2V7aBlFpLXMtd0rMrp3PYhkQm3e4dqynLadsB0QOhY9WU2+t7m5MnBh84Z15v/n7fF/vaOxtfZYDxBGaBTfU5uywvGX2/pRyei2Z4cNgBP56RXGkNAKJBpUkMCEzpOAggln5NagA=") 0 0, auto; }
}
html { animation: cursor-anim 666ms step-end infinite; }
a,button,input,textarea,label,[role=button],select,option{cursor:inherit!important}
